.-the-card-search{
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 0 24px;
    margin-top: 48px;
    max-width: 1144px;
    
}
.-the-card-search .card{
    display:grid;
    grid-template-columns: 360px 1fr;
    gap: 16px;
    
}

.-the-card-search .card .-about{
    display: block;
    position: relative;
}
.-the-card-search .card .-title{
    -webkit-line-clamp: 1;
    width: calc(100% - 40px);
}
.-the-card-search .card .-caption,
.-the-card-search .card .-view,
.-the-card-search .card .-channel-name
{
    font-weight: 400;
    font-size: 12px;
    color: #606060;
    list-style: 18px;
}
.-the-card-search .card .-option{
    position:absolute;
    top: 0;
    right: 0;
    display: none;
}
.-the-card-search .card .-about:hover .-option{
    display: block;
}

.-the-card-search .card .-channel{
    display: grid;
    grid-template-columns: 24px auto;
    align-items: center;
    gap: 8px;
    padding: 12px 0;
}

.-the-card-search .card .-channel img{
    width: 24px;
    height: 24px;
}

.-the-card-search .card .-thimnail img{
width: 480px;
height: 200px;
border-radius: 12px;
}